*{
    padding: 0%;
    margin: 0%;
}

li{
    list-style: none;
}


.navigation{
    background-color: #000;
    padding: 5px;
    text-align: center;
}
 
.navigation .nav-item a{
    color: #fff;
    font-size: 1.2rem;
    margin: 0 20px;
}



.navigation .nav-item a:hover
{
    color: #fdb827;
    text-decoration: underline;
}

/* ..................home ......................*/

#home{
    height: 100vh;
    padding: 5% 8% 0%;
    background-color:#fff;
    font-family: 'Inria Serif', serif;
    box-sizing: border-box;
}

.home_description{
    margin: 5% 10%;

}

#home h1{
    font-family: 'Inria Serif', serif;
    /* font-family: 'Montserrat', sans-serif; */
    color: #14274e;
    font-size: 5rem;
}

#home p{
    font-family: 'Inria Serif', serif;
    color: #00adb5;
    color: #f6f5f5;
    color: #f3bad6;
    color: #9ba4b4;
    font-size: 1.3rem;
}
#home img{
    height: 40%;
    object-fit: cover;
} 
/* ...........................about .......................*/

#about{
    box-sizing: border-box;
    padding:2% 10% 5%;
    background-color:#545454;
    background-color: #393e46;
    background-color: #eeeeee;
    background-color: #f1f6f9;
    background-color: #fff;
    text-align: center;
    position:relative;
}

#about h1{
    color: #000;
    color: #14274e;
    margin: 3% 0%;
    font-family: 'Inria Serif', serif;
    font-size: 3rem;
}

#about img{
    /* height: 150px;
    width: 150px; */
    width: 60%;
    /* border-radius: 100%; */
    object-fit: cover;
}

.about_discription{
    font-family: 'Noto Sans', sans-serif;
    margin: 5% auto;
    max-width: 80%;
    color: #ebdab2;
    /* color: #fff; */
    color: #393e46;
    color: #394867;
    color: #9ba4b4;
    padding: 5px auto;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-align: left;
}

hr{
    text-align: center;
    width: 40%;
    padding: 2px;
    background-color: #bde3fa;
    margin: 2px auto;
    border: 1px solid #f1f6f9;
    border-radius: 2px;
}

.links{
    margin-left:5px;
    position: absolute;
    bottom: 20%;
    right: 0%;
}

.links li{
    margin: 10px;
}

.links button{
    padding:10px;
    border-radius: 4px;
}

.links button:hover{
    transform: scale(1.2);
}
.face:hover{
    background-color: #3B5998;
    color: #fff;
}
.git:hover{
    color: #fff;
    background-color: #000;
}
.insta:hover{
    color: #fff;
    background-color: rgb(252, 55, 120);
}
.in:hover{
    color: #fff;
    background-color: #0077B5;

}

/* ...............skills ..............................*/

#skills{
    box-sizing: border-box;
    padding: 5% 10%;
    background-color: #ffd369;
    background-color: #fdb827;
    background-color: #fecd1a;
    background-color: #fff;
}

#skills h1{
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Inria Serif', serif;
    font-size: 3rem;
    color: #14274e;
}


#skills img{
    height: 35%;
    width: 35%;
    z-index: 2;
}
 
.skill_card{
    z-index: 2;
    margin: 20px;
    padding: 20px 10px;
    color: #a6a6a6;
    color: #ebdab2;
    color: #393e46;
    color: #214252;
    color: #394867;
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    box-shadow:2px 2px 10px 3px #f1f6f9;
}

.skill_bar{

    display: inline-block;
    margin: 10px auto;
    padding: 3px;
    width: 100%;
    z-index: 1;
    border-radius: 4px;
    transform: translateY(-30px);
}
.skill_card:hover{
    object-fit: cover;
    color:#00adb5;
    color: #222831;
    transform: scale(1.1);
    transition: 500ms;
    box-shadow:2px 2px 10px 2px #394867;
}

.skill_card:hover .skill_bar{
    transition: 100ms;
    transform: translateY(30px);
    background-color: #394867;
} 


/* ..............projects .............................*/

#projects{
    height: 50vh;
    transition-delay: 400ms;
    background-color: #eeeeee;
}



/* .................testimaonials .......................*/

#testimonials{
    /* padding: 5% 10%; */
    background-color: #393e46;
    background-color: #214252;
    box-sizing: border-box;
    overflow: hidden;
}
.inner{
    width: 70%;
    margin: 5% auto;
}
.test{
    text-align: center;
    padding: 4% 10%;
    border-radius: 8px;
    background-color: #fdb827;
    background-color: #f05454;
    background-color: #fff;
}




/* ..................contact us ...........................*/

#contact{
    padding: 5% 10% 2%;
    text-align: center;
}
.contact-details{
    text-align: left;
    line-height: 2rem;
    font-size: 1.2rem;
}
.btn{
    color: #fdb827;
    color: #fff;
    margin: 5px;
    background-color: #393e46;
    background-color: #214252 ;
    padding: 4%;
    border: 1px solid #545454;
}
.btn:hover{
    transform: scale(1.05);
    color: #393e46;
    color: #214252;
    background-color:#fdb827;
    background-color: #fff;
}



@media only screen and (max-width: 600px) {
  
#home img{
    margin-top: 20px;
    padding: 20px auto;
    text-align: center;
    height: 20%;
    object-fit: cover;
}

#about img{
    height: 200px;
}

.btn{
    padding: 10px;
}
  }